<section class="container  mt-3 pt-5">
  <section class="" id="home">
    <div class="raw">
      <h1 class="mt-3"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart </h1>
      <p id="deleteDisplay"></p>
    </div>
    <hr>

    {{!-- <div class="row" id="div1"> --}}
      <div id="parent">
        {{#each productArray}}
      <div class="card col-lg-12 col-sm-12 col-md-12 p-2  mb-3">
        <div class="row justify-content-between align-items-center" id="{{this._id}}">
          <div class="col-lg-2 col-12 md-6 col-sm-6 m-2 ">
            <img style="" src="/images/{{this.imgId}}.jpg " class="img-fluid rounded-3" alt="Cotton T-shirt">
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 ">
            <h6 class="">{{this.productName}}</h6>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 ">
            <h6 class="text-black">Description :{{this.desc}}</h6>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2">
            <h6 class="">Rs: {{this.Price}}</h6>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 d-flex">
            <button id="minus" class="btn btn-link px-2"
              onclick=productDecrement("{{this._id}}","displayQuantity{{this._id}}")>
              <i class="fa fa-minus"></i></button>

            <p id="displayQuantity{{this._id}}">{{this.quantity}}</p>

            <button id="plus" class="btn btn-link "
              onclick=productIncrement("{{this._id}}","displayQuantity{{this._id}}")>
              <i class="fa fa-plus"></i></button>
              <div class="">
                <button onclick=cartDelete("{{this._id}}") class="btn btn-danger"><i class="fa fa-times "></i></button>
              </div>
          </div>
          

        
        </div>

      </div>
      {{/each}}
      </div>
      
      <hr>
      <section class="container  mt-3 pt-5">

        <div class="row d-flex justify-content-between align-items-center">
          <h3 style="float:left;">total:</h3>
          <h3 id="total" style="float:right;">{{Total}}</h3>
          <div class="checkoutDiv col-lg-12 col-md-12 col-sm">
            <a href="/user" class="btn btn-success float-left m-2" style=""><i class="fa fa-arrow-left"
                aria-hidden="true"></i> Back </a>
            <a href="/user/address" id="checkout" class="btn btn-success float-right m-2 " style=""><i class="fa fa-shopping-bag"
                aria-hidden="true"></i> Checkout</a>
          </div>
        </div>
      </section>





  </section>
</section>


<script>

  //this.parentNode.querySelector('input[type=number]').stepUp()  this.parentNode.querySelector('input[type=number]').stepDown()

  const plusIcon = document.getElementById('plus')
  const minusIcon = document.getElementById('minus')
  const allDisplay = document.querySelectorAll('.m2')
  const total = document.getElementById("total")
  async function productIncrement(id, specifiedDisplay) {
    const display = document.getElementById(specifiedDisplay)
    const quantity = display.textContent
    let url = `http://localhost:3000/user/quantityIecrement/${id}/${quantity}`;
    let data = await fetch(url, { method: 'GET' })
    let response = await data.json()
    total.innerHTML = response.total
    display.innerHTML = response.updatedValue

  }

  async function productDecrement(id, specifiedDisplay) {
    const display = document.getElementById(specifiedDisplay)
    if (display.innerText >= 2) {
      const quantity = display.textContent
      let url = `http://localhost:3000/user/quantityDecrement/${id}/${quantity}`;
      let data = await fetch(url, { method: 'GET' })
      let response = await data.json()
      total.innerHTML = response.total
      display.innerHTML = response.updatedValue
    } else {

    }


  }
  async function cartDelete(id) {
    const displayStatus = document.getElementById('deleteDisplay')
    let specfiedDisplay = document.getElementById(id)
    if (confirm("Are sure to delete this item ?")) {
      let url = `http://localhost:3000/user/deleteCart/${id}`;
      let data = await fetch(url, { method: 'GET' })
      let response = await data.json()
      if (response.status) {
        specfiedDisplay.remove()
        displayStatus.style.color = "green"
        displayStatus.innerHTML = "Deletion successful."
        total.innerHTML = response.total
      } else if (response.redirect) {
        window.location.href = response.redirect
      } else if (!response.status) {
        displayStatus.style.color = "red"
        displayStatus.innerHTML = "Deletion failed."
      }
    }

  }

    

</script>



</body>