<body id="body">
  <div class="sticky">
    <nav class="navbar navbar-expand-lg navbar-light p-4 " id="navbar" style="
  position: sticky;
  background-color:rgba(2, 175, 45, 0.2);
  display: flex;
    position: -webkit-sticky;
      top: 0; 
  
  width:100%; ">
      <a class="navbar-brand text-dark pl-5" style="font-size:26px;" href="#"><strong>Shopy Cart </strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pl-5 ">
          <li class="nav-item active">
            <a class="nav-link text-dark " style="" href="/user">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark " style="" href="/user/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark " style="" href="/user/myorders"
              >Your Orders</a>
          </li>
            </ul>

        
        
      {{#if inAnyForm}}
        {{else}}
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle ml-5" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if notSignedUser}}
              Account 
              {{else}}
              {{userDetail.firstName }}{{userDetail.LastName}}
            {{/if}}
          </a>
          {{!-- {{#if inAnyForm}} --}}
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {{#if notSignedUser}}
            <a class="dropdown-item" href="user/signup">Signup</a>
            <a class="dropdown-item" href="user/login">Login</a>

            {{else}}
              
            <a class="dropdown-item" href="/admin">Sell your products</a>
            <a class="dropdown-item" href="/user/profile">Profile</a>
            <a class="dropdown-item" href="/user/settings">Settings</a>
            <a class="dropdown-item" href="/user/logout">Logout</a>
            {{/if}}
          </div>
          {{!-- {{/if}} --}}
        </div>
      {{/if}}
      </div>
    </nav>
  </div>
</body>
</header>